* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #090b20d5;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  margin: 50px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container .content-img {
  position: relative;
  width: 335px;
  height: 431px;
}

.container .content-img .text {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

